<section class="section">
  <div class="container share-container">
    <div class="recipe-share">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="./img/share-food-mob-1x.jpg, ./img/share-food-mob-2x.jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/share-food-mob-1x.jpg, ./img/share-food-mob-2x.jpg"
        />
        <source
          media="(min-width: 320px)"
          srcset="./img/share-food-mob-1x.jpg, ./img/share-food-mob-2x.jpg"
        />
        <img
          src="./img/share-food-mob-1x.jpg, ./img/share-food-mob-2x.jpg"
          alt="Sharing a recipe on a phone"
          width="375"
          height="400"
        />
      </picture>
      <h2>Share Your Recipes</h2>
      <p>
        Share your favorite recipes with others. Add your culinary creations,
        discover new meal ideas, and become part of our food-loving community!
      </p>
      <button class="button-share">Create New Recipe</button>
    </div>
  </div>
</section>
