<div class="blog-post">
    <h2 class="blog-title">Blog</h2>
    <!-- Перший блок всередині -->
    <div class="blog-post-clock">
      <img src="../img/blog-clock-mobile-1x.jpg" alt="Clock Image" class="blog-image">
      <h3 class="blog-post-title">Unlocking the Benefits of Intermittent Fasting for</h3>
      <p class="blog-post-text">
        Weight Management and Health Weight Management and
        <br /> Health Weight Management and Health Weight Management
      </p>
    </div>
  
    <!-- Другий блок всередині -->
    <div class="blog-post-sugar">
      <img src="../img/blog-sugar-mobile-1x.jpg" alt="Sugar and Stethoscope" class="blog-image">
      <h3 class="blog-post-title">The Impact of Sugar Consumption on Your Health</h3>
      <p class="blog-post-text">
        Unveiling the Hidden Dangers Unveiling the Hidden Dangers
        <br /> Unveiling the Hidden Dangers Unveiling the Hidden Dangers Unveiling the Hidden Dangers
      </p>
    </div>
  </div>
  
  