<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a href="#home" class="footer__logo">
        <svg width="24" height="24" aria-hidden="true">
          <use xlink:href="./img/sprite.svg#logo"></use>
        </svg>
        <span>Perfect<span style="color: var(--primary)">Recipe</span></span>
      </a>
      <p class="footer-text">
        Discover a world of flavors and recipes crafted to inspire your culinary
        journey. Join us and explore delicious meals, cooking tips, and more to
        elevate your kitchen experience.
      </p>
    </div>

    <div class="footer__links">
      <ul class="footer__column">
        <h3 class="footer__title">Quick links</h3>
        <li class="footer__item">
          <a href="#home" class="footer__link">Home</a>
        </li>
        <li class="footer__item">
          <a href="#recipes" class="footer__link">Recipes</a>
        </li>
        <li class="footer__item">
          <a href="#blog" class="footer__link">Blog</a>
        </li>
      </ul>

      <ul class="footer__column">
        <h3 class="footer__title">Quick links</h3>
        <li class="footer__item">
          <a href="#share-recipe" class="footer__link">Share Recipe</a>
        </li>
        <li class="footer__item">
          <a href="#about" class="footer__link">About Us</a>
        </li>
        <li class="footer__item">
          <a href="#contact" class="footer__link">Contact</a>
        </li>
      </ul>

      <ul class="footer__column">
        <h3 class="footer__title">Legal</h3>
        <li class="footer__item">
          <a href="#terms" class="footer__link">Terms Of Use</a>
        </li>
        <li class="footer__item">
          <a href="#privacy" class="footer__link">Privacy & Cookies</a>
        </li>
      </ul>
    </div>

    <div class="footer__social">
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a href="#tiktok" class="footer__social-link" aria-label="TikTok">
            <svg width="24" height="24">
              <use xlink:href="./img/sprite.svg#tik-tok"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#twitter" class="footer__social-link" aria-label="x-file">
            <svg width="24" height="24">
              <use xlink:href="./img/sprite.svg#x-file"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#facebook" class="footer__social-link" aria-label="Facebook">
            <svg width="24" height="24">
              <use xlink:href="./img/sprite.svg#fb"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="#instagram"
            class="footer__social-link"
            aria-label="Instagram"
          >
            <svg width="24" height="24">
              <use xlink:href="./img/sprite.svg#insta"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="#pinterest"
            class="footer__social-link"
            aria-label="Pinterest"
          >
            <svg width="24" height="24">
              <use xlink:href="./img/sprite.svg#pint"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-line"></div>

    <div class="footer__bottom">
      <p>&copy; 2023 RecipeLogo. All Rights Reserved</p>
    </div>
  </div>
</footer>
