<header class="header">
  <div class="container header-container">
    <div class="header-background">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="236"
        height="210"
        fill="none"
      >
        <path
          fill="url(#a)"
          fill-opacity=".7"
          d="M18.954 71.078C7.222 52.718-3.654 16.368 1.234 0H256v208.317c-22.843.267-73.533 4.031-94.557-6.109-26.279-12.676-29.822-23.065-51.601-33.739-21.778-10.675-18.014-45.776-25.564-56.45-7.55-10.675-50.66-17.99-65.324-40.94Z"
          opacity=".4"
        />
        <defs>
          <linearGradient
            id="a"
            x1="256.291"
            x2="87.557"
            y1="-15.583"
            y2="116.951"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset=".391" stop-color="#FF1F00" />
            <stop offset="1" stop-color="#FF8473" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <nav class="header-navigation">
      <a class="header-logo" href="index.html">
        <svg class="header-logo-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
        Perfect<span class="header-logo-color">Recipe</span>
      </a>
    </nav>
    <button type="button" class="open-menu-button" aria-label="Open menu">
      <svg width="32" height="24">
        <use href="./img/icons.svg#icon-hamburger-menu"></use>
      </svg>
    </button>
  </div>
</header>
