<section class="section section-hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Your Daily Dish A <span class="hero-highlight">Food</span> Journey
    </h1>
    <p class="hero-text">
      Discover a world of flavors with easy, delicious recipes for every day.
      Let us guide you through simple steps to make your favorite dishes at
      home.
    </p>
    <div class="hero-btn-wrapper">
      <button class="hero-btn hero-log-in">Log in</button>
      <button class="hero-btn hero-sign-up">Sign up</button>
    </div>
  </div>
</section>
