<section class="section newsletter">
  <div class="container">
    <h2>Let's Stay In Touch!</h2>
    <p>
      Join our newsletter, so that we reach out to you with our news and offers.
    </p>
    <form class="newsletter-form">
      <div class="input-wrapper">
        <input type="email" placeholder="Enter Your Email" required />
        <svg class="icon">
          <use href="#icon-email"></use>
        </svg>
      </div>
      <button type="submit" class="button">Subscribe</button>
    </form>
  </div>
</section>
