<section class="section newsletter">
  <div class="news-container">
    <div class="container">
      <h2>Let's Stay In Touch!</h2>
      <p class="news-text">
        Join our newsletter, so that we reach out to you with our news and
        offers.
      </p>
      <form class="newsletter-form">
        <div class="input-wrapper">
          <input type="email" placeholder="Enter Your Email" required />
          <svg class="icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-email"></use>
          </svg>
        </div>
        <button type="submit" class="button-news">Subscribe</button>
      </form>
    </div>
  </div>
</section>
