<section class="section partners">
  <div class="container">
    <ul class="partners-list">
      <li class="partners-item">
        <svg class="partners-icon" width="84" height="22">
          <use href="./img/sprite.svg#icon-nestle"></use>
        </svg>
      </li>
      <li class="partners-item">
        <svg class="partners-icon" width="18" height="22">
          <use href="./img/sprite.svg#icon-apple"></use>
        </svg>
      </li>
      <li class="partners-item">
        <svg class="partners-icon" width="38" height="22">
          <use href="./img/sprite.svg#icon-beco"></use>
        </svg>
      </li>
      <li class="partners-item">
        <svg class="partners-icon" width="72" height="22">
          <use href="./img/sprite.svg#icon-amazon"></use>
        </svg>
      </li>
      <li class="partners-item">
        <svg class="partners-icon" width="68" height="22">
          <use href="./img/sprite.svg#icon-google"></use>
        </svg>
      </li>
      <li class="partners-item">
        <svg class="partners-icon" width="88" height="22">
          <use href="./img/sprite.svg#icon-walmart"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
