<section class="section">
  <div class="container">
    <h2 class="popular-title">Popular Categories</h2>
    <button class="btn-more popular-hide">View more</button>
    <ul class="populat-list">
      <li class="popular-list-item popular-hide">
        <picture>
          <source
            srcset="
              /img/popular-1-desk-1x.png 1x,
              /img/popular-1-desk-1x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="/img/popular-1-tab-1x.png 1x, /img/popular-1-tab-2x.png 2x"
            media="(min-width: 1024px)"
          />
          <img
            src="/img/popular-1-desk-1x.png"
            alt="Fried egg with cherry tomatoes and bread"
            class="popular-img"
            width="206"
            height="199"
          />
        </picture>
        <h4 class="popular-item-title">Breakfast recipes</h4>
      </li>
      <li class="popular-list-item">
        <picture>
          <source
            srcset="
              /img/popular-2-desk-1x.png 1x,
              /img/popular-2-desk-1x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="/img/popular-2-tab-1x.png 1x, /img/popular-2-tab-2x.png 2x"
            media="(min-width: 1024px)"
          />
          <source
            srcset="/img/popular-2-mob-1x.png 1x, /img/popular-2-mob-2x.png 2x"
            media="(max-width: 1023px)"
          />
          <img
            src="/img/popular-2-desk-1x.png"
            alt="Red sauce pasta Fusilli with tomatoes"
            class="popular-img"
            width="206"
            height="199"
          />
        </picture>
        <h4 class="popular-item-title">Lunch recipes</h4>
      </li>
      <li class="popular-list-item">
        <picture>
          <source
            srcset="
              /img/popular-3-desk-1x.png 1x,
              /img/popular-3-desk-1x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="/img/popular-3-tab-1x.png 1x, /img/popular-3-tab-2x.png 2x"
            media="(min-width: 1024px)"
          />
          <source
            srcset="/img/popular-3-mob-1x.png 1x, /img/popular-3-mob-2x.png 2x"
            media="(max-width: 1023px)"
          />
          <img
            src="/img/popular-3-desk-1x.png"
            alt="Seafood spaghetti"
            class="popular-img"
            width="206"
            height="199"
          />
        </picture>
        <h4 class="popular-item-title">Dinner recipes</h4>
      </li>
      <li class="popular-list-item popular-hide">
        <img src="" alt="" class="popular-img" />
        <h4 class="popular-item-title">Appetizer recipes</h4>
      </li>
      <li class="popular-list-item popular-hide">
        <img src="" alt="" class="popular-img" />
        <h4 class="popular-item-title">Salad recipes</h4>
      </li>
      <li class="popular-list-item">
        <picture>
          <source
            srcset="
              /img/popular-6-desk-1x.png 1x,
              /img/popular-6-desk-1x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="/img/popular-6-tab-1x.png 1x, /img/popular-6-tab-2x.png 2x"
            media="(min-width: 1024px)"
          />
          <source
            srcset="/img/popular-6-mob-1x.png 1x, /img/popular-6-mob-2x.png 2x"
            media="(max-width: 1023px)"
          />
          <img
            src="/img/popular-6-desk-1x.png"
            alt="Pizza Margarita"
            class="popular-img"
            width="206"
            height="199"
          />
        </picture>
        <h4 class="popular-item-title">Pizza recipes</h4>
      </li>
      <li class="popular-list-item">
        <picture>
          <source
            srcset="
              /img/popular-7-desk-1x.png 1x,
              /img/popular-7-desk-1x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="/img/popular-7-tab-1x.png 1x, /img/popular-7-tab-2x.png 2x"
            media="(min-width: 1024px)"
          />
          <source
            srcset="/img/popular-7-mob-1x.png 1x, /img/popular-7-mob-2x.png 2x"
            media="(max-width: 1023px)"
          />
          <img
            src="/img/popular-7-desk-1x.png"
            alt="Apple-ginger-cucumber smoothie"
            class="popular-img"
            width="206"
            height="199"
          />
        </picture>
        <h4 class="popular-item-title">Smoothie recipes</h4>
      </li>
      <li class="popular-list-item popular-hide">
        <img src="" alt="" class="popular-img" />
        <h4 class="popular-item-title">Pasta recipes</h4>
      </li>
    </ul>
  </div>
</section>
