<section class="section">
  <div class="container exp-recipes-container">
    <div class="exp-recopes-title-wrapper">
    <h2 class="exp-recipes-title">Explore Recipes</h2>
    <a href="#" class="view-more">View more</a>
</div>
    <ul class="exp-recipe-list">
      <!-- Fish and Chips -->
      <li class="exp-recipe-item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/webp/fish_and_chips-mob-1x.webp,
              ./img/webp/fish_and_chips-mob-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/webp/fish_and_chips-mob-1x.webp,
              ./img/webp/fish_and_chips-mob-2x.webp 2x
            "
          />
          <source
            media="(min-width: 360px)"
            srcset="
              ./img/webp/fish_and_chips-mob-1x.webp,
              ./img/webp/fish_and_chips-mob-2x.webp 2x
            "
          />
          <img
            class="exp-recipes-image"
            src="/src/img/webp/fish_and_chips-mob-1x.webp"
            alt="Fish and Chips"
            loading="lazy"
          />
        </picture>
        <div class="flag">
          <svg class="bookmark" width="13" height="16">
            <use class="bookmark-icon" href="./img/svg.svg#icon-flag"></use>
          </svg>
        </div>
        <div class="rating-wrapper">
          <div class="rating">
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
          </div>
          <h5>Fish and chips</h5>
          <div class="recipe-meta">
            <span class="author">Alex Martin</span>
            <span class="views">1234 views</span>
          </div>
        </div>

      </li>

      <!-- Strawberry Salad -->
      <li class="exp-recipe-item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/webp/strawberry_salad-mob-1x.webp,
              ./img/webp/strawberry_salad-mob-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/webp/strawberry_salad-mob-1x.webp,
              ./img/webp/strawberry_salad-mob-2x.webp 2x
            "
          />
          <source
            media="(min-width: 360px)"
            srcset="
              ./img/webp/strawberry_salad-mob-1x.webp,
              ./img/webp/strawberry_salad-mob-2x.webp 2x
            "
          />
          <img
            class="exp-recipes-image"
            src="/src/img/webp/strawberry_salad-mob-1x.webp"
            alt="Strawberry and Walnut Spinach Salad"
            loading="lazy"
          />
        </picture>
        <div class="flag">
          <svg class="bookmark" width="13" height="16">
            <use class="bookmark-icon" href="./img/svg.svg#icon-flag"></use>
          </svg>
        </div>
        <div class="rating-wrapper">
          <div class="rating">
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
          </div>
          <h5>Strawberry and Walnut Spinach Salad</h5>
        </div>
      </li>

      <!-- Grilled Red Snapper -->
      <li class="exp-recipe-item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/grilled-red-snapper-1-mob.jpg,
              ./img/grilled-red-snapper-1-mob.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/grilled-red-snapper-1-mob.jpg,
              ./img/grilled-red-snapper-2-mob.jpg 2x
            "
          />
          <source
            media="(min-width: 360px)"
            srcset="
              ./img/grilled-red-snapper-1-mob.jpg,
              ./img/grilled-red-snapper-2-mob.jpg 2x
            "
          />
          <img
            class="exp-recipes-image"
            src="./img/grilled-red-snapper-1-mob.jpg"
            alt="Grilled red snapper"
            loading="lazy"
          />
        </picture>
        <div class="flag">
          <svg class="bookmark-icon" width="13" height="16">
            <use href="./img/svg.svg#icon-flag"></use>
          </svg>
        </div>
        <div class="rating-wrapper">
          <div class="rating">
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
          </div>
          <h5>Grilled red snapper</h5>
        </div>
      </li>

      <!-- Green Smoothie -->
      <li class="exp-recipe-item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/Green-smoothie-1-mob.jpg,
              ./img/Green-smoothie-2-mob.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/Green-smoothie-1-mob.jpg,
              ./img/Green-smoothie-2-mob.jpg 2x
            "
          />
          <source
            media="(min-width: 360px)"
            srcset="
              ./img/Green-smoothie-1-mob.jpg,
              ./img/Green-smoothie-2-mob.jpg 2x
            "
          />
          <img
            class="exp-recipes-image"
            src="./img/Green-smoothie-1-mob.jpg"
            alt="Green smoothie"
            loading="lazy"
          />
        </picture>
        <div class="flag">
          <svg class="bookmark-icon" width="13" height="16">
            <use href="./img/svg.svg#icon-flag"></use>
          </svg>
        </div>
        <div class="rating-wrapper">
          <div class="rating">
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
            <svg class="icon-star" width="15" height="13">
              <use href="./img/svg.svg#icon-star"></use>
            </svg>
          </div>
          <h5>Green smoothie</h5>
        </div>
      </li>
    </ul>
  </div>
</section>
