<section>
    <h2 class="trending-title">Trending Recipe</h2>

        <div class="grid">
            <div class="grid-item">
                <picture class="trending-picture">
                    <source media="(min-width: 360px)" srcset="./img/webp/fish_and_chips-mob-1x.webp 1x, ./img/webp/fish_and_chips-mob-2x.webp 2x">
                    <img src="/src/img/webp/fish_and_chips-mob-1x.webp" alt="Fish and Chips" width="192" height="132">
                </picture>
                <div class="rating">
                    <div class="rating-body">
                        <div class="rating-active">
                            <div class="rating-items">
                                <input type="radio" class="rating-item" value="1" name="rating">
                                <input type="radio" class="rating-item" value="2" name="rating">
                                <input type="radio" class="rating-item" value="3" name="rating">
                                <input type="radio" class="rating-item" value="4" name="rating">
                                <input type="radio" class="rating-item" value="5" name="rating">
                            </div>
                        </div>
                    </div>
                </div>
                <h5>fish and chips</h5>
            </div>
    
            <div class="grid-item">
                <picture class="trending-picture">
                    <source media="(min-width: 360px)"
                        srcset="./img/webp/tuna_salad-mob-1x.webp 1x, ./img/webp/tuna_salad-mob-2x.webp 2x">
                    <img src="./img/webp/tuna_salad-mob-1x.webp" alt="Tuna Salad" width="192" height="132">
                </picture>
                <div class="rating">
                    <div class="rating-body">
                        <div class="rating-active">
                            <div class="rating-items">
                                <input type="radio" class="rating-item" value="1" name="rating">
                                <input type="radio" class="rating-item" value="2" name="rating">
                                <input type="radio" class="rating-item" value="3" name="rating">
                                <input type="radio" class="rating-item" value="4" name="rating">
                                <input type="radio" class="rating-item" value="5" name="rating">
                            </div>
                        </div>
                    </div>
                </div>
                <h5>Tuna Mex Tuna Salad</h5>
            </div>
    
            <div class="grid-item">
            <picture class="trending-picture">
                <source media="(min-width: 360px)"
                    srcset="./img/webp/strawberry_salad-mob-1x.webp 1x,  ./img/webp/strawberry_salad-mob-2x.webp 2x">
                <img src="./img/webp/strawberry_salad-mob-1x.webp1x" alt="Strawberry Salad" width="192" height="132">
            </picture>
            <div class="rating">
                <div class="rating-body">
                    <div class="rating-active">
                        <div class="rating-items">
                            <input type="radio" class="rating-item" value="1" name="rating">
                            <input type="radio" class="rating-item" value="2" name="rating">
                            <input type="radio" class="rating-item" value="3" name="rating">
                            <input type="radio" class="rating-item" value="4" name="rating">
                            <input type="radio" class="rating-item" value="5" name="rating">
                        </div>
                    </div>
                </div>
            </div>
            <h5>Strawberry and Walnut Spinach Salad</h5>
            </div>
    
            <div class="grid-item">
            <picture class="trending-picture">
                <source media="(min-width: 360px)"
                    srcset="./img/webp/toast-mob-1x.webp 1x,  ./img/webp/toast-mob-2x.webp 2x">
                <img src="./img/webp/toast-mob-1x.webp" alt="Toast" width="192" height="132">
            </picture>
            <div class="rating">
                <div class="rating-body">
                    <div class="rating-active">
                        <div class="rating-items">
                            <input type="radio" class="rating-item" value="1" name="rating">
                            <input type="radio" class="rating-item" value="2" name="rating">
                            <input type="radio" class="rating-item" value="3" name="rating">
                            <input type="radio" class="rating-item" value="4" name="rating">
                            <input type="radio" class="rating-item" value="5" name="rating">
                        </div>
                    </div>
                </div>
            </div>
            <h5>Toast with Tomato, Onion, & Hummus</h5>
            </div>
    
            <div class="grid-item">
                <picture class="trending-picture">
                    <source media="(min-width: 360px)" srcset="./img/webp/pasta-mob-1x.webp 1x,  ./img/webp/pasta-mob-2x.webp 2x">
                    <img src="./img/webp/pasta-mob-1x.webp" alt="Cheese Pasta" width="192" height="132">
                </picture>
                <div class="rating">
                    <div class="rating-body">
                        <div class="rating-active">
                            <div class="rating-items">
                                <input type="radio" class="rating-item" value="1" name="rating">
                                <input type="radio" class="rating-item" value="2" name="rating">
                                <input type="radio" class="rating-item" value="3" name="rating">
                                <input type="radio" class="rating-item" value="4" name="rating">
                                <input type="radio" class="rating-item" value="5" name="rating">
                            </div>
                        </div>
                    </div>
                </div>
                <h5>spinach and cheese pasta</h5>
            </div>
    
            <div class="grid-item">
                <picture class="trending-picture">
                    <source media="(min-width: 360px)" srcset="./img/webp/pancake-mob-1x.webp 1x,  ./img/webp/pancake-mob-2x.webp 2x">
                    <img src="./img/webp/pancake-mob-1x.webp" alt="Cheese Pasta" width="192" height="132">
                </picture>
                <div class="rating">
                    <div class="rating-body">
                        <div class="rating-active">
                            <div class="rating-items">
                                <input type="radio" class="rating-item" value="1" name="rating">
                                <input type="radio" class="rating-item" value="2" name="rating">
                                <input type="radio" class="rating-item" value="3" name="rating">
                                <input type="radio" class="rating-item" value="4" name="rating">
                                <input type="radio" class="rating-item" value="5" name="rating">
                            </div>
                        </div>
                    </div>
                </div>
                <h5>Strawberry and Cherry pancake</h5>
            </div>
        </div>



</section>