.footer {
  padding: 64px 0;
  background-color: var(--gray--5);
}

.footer__top {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__logo {
  display: flex;
  font: 500 20px / 1.1 var(--font-family);
  margin-bottom: 12px;
  align-items: center;
}

.footer__logo svg {
  margin-right: 4px;
}

.footer__logo:hover,
.footer__logo:focus {
  color: var(--primary);
  outline: 1px solid var(--primary);
  outline-offset: 1px;
}

.footer-text {
  color: var(--gray--1);
  line-height: 1.6;
  margin-bottom: 40px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 18px;
  flex: 1;
}

.footer__title {
  font-size: 16px;
}

.footer__link {
  font: 400 16px / 1.63 var(--font-family);
  color: var(--gray--1);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--primary);
  outline: 1px solid var(--primary);
  outline-offset: 2px;
}

.footer__social {
  margin-bottom: 48px;
}

.footer-line {
  border-bottom: 2px solid var(--gray--3);
  width: 280px;
  display: block;
  margin: 0 auto 48px;
}

.footer__social-link {
  color: var(--black);
}

.footer__social-link:hover,
.footer__social-link:focus {
  color: var(--primary);
  outline: 1px solid var(--primary);
  outline-offset: 1px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.footer__bottom {
  text-align: center;
}
