.hero-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  padding: 0 36px;
  text-transform: capitalize
}

.hero-highlight {
  color: var(--primary);
}

.hero-text {
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.hero-btn-wrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.hero-btn {
  font-family: var(--font-family);
  padding: 10px;
  border-radius: 8px;
  min-width: 112px;
  box-shadow: 0 0 0 0 rgba(23, 23, 23, 0.04), 0 2px 4px 0 rgba(23, 23, 23, 0.04), 0 7px 7px 0 rgba(23, 23, 23, 0.03), 0 15px 9px 0 rgba(23, 23, 23, 0.02), 0 27px 11px 0 rgba(23, 23, 23, 0.01), 0 42px 12px 0 rgba(23, 23, 23, 0);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
}

.hero-log-in {
  background: var(--gray--4);
  color: var(--black);
}

.hero-sign-up {
  background: var(--primary);
  color: var(--white);
}