.newsletter {
  background-color: var(--light);
  text-align: center;
  padding: 30px 0;
}

.newsletter h2 {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 10px;
  text-transform: capitalize;
}

.newsletter p {
  font-size: 16px;
  color: var(--gray--2);
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  padding: 10px 40px 10px 15px; /* Простір для іконки */
  font-size: 16px;
  border: 1px solid var(--gray--4);
  border-radius: 5px;
  width: 250px;
  outline: none;
}

.input-wrapper .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: var(--gray--3);
}

.button {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--hover);
}

.button:focus {
  background-color: var(--pressed);
  outline: 2px solid var(--hover);
  outline-offset: 2px;
}
