.newsletter {
  text-align: center;
}

.news-container {
  background-color: var(--light);
  padding: 74px 0;
  margin: 0;
}

.newsletter h2 {
  margin-bottom: 16px;
}

.news-text {
  font-size: 18px;
  line-height: 1.44;
  margin-bottom: 16px;
  /* padding: 0 48px; */
  max-width: 430px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 18px;
}

.input-wrapper input {
  padding: 12px 12px 12px 42px;
  /* Простір для іконки */
  font-size: 14px;
  line-height: 1.87;
  font-weight: 400;
  border: 1px solid var(--gray--3);
  border-radius: 8px;
  outline: none;
  width: 100%;
}

.input-wrapper input::placeholder {
  color: var(--gray--3);
}

.input-wrapper .icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--gray--3);
}

.button-news {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  transition: background-color 0.3s;
  width: 100%;
}

.button-news:hover {
  background-color: var(--hover);
}

.button-news:focus {
  background-color: var(--pressed);
  outline: 2px solid var(--hover);
  outline-offset: 2px;
}
