.partners-list {
  display: grid;
  grid-template-columns: 88px 20px 40px 72px;
  gap: 25px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.partners-item:nth-child(5) {
  grid-column: span 2; /* Розтягує другий елемент на 2 стовбця */
  margin-left: auto;
}

.partners-item:nth-child(6) {
  grid-column: span 2; /* Розтягує другий елемент на 2 стовбця */
  margin-right: auto;
}

.partners-item svg {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.partners-item svg:hover {
  opacity: 1;
}
