* {
  margin: 0;
  padding: 0;
}

:root {
  /* =====   color   ===== */
  --primary: rgba(181, 93, 81, 0.97);
  --hover: #974e44;
  --pressed: #793e37;
  --light: #fff0ed;
  --gray--1: #4c4c4c;
  --gray--2: #878787;
  --gray--3: #a5a5a5;
  --gray--4: #ebebeb;
  --gray--5: #f5f5f5;
  --white: #fff;
  --black: #000;
  /* =====   fonts   ===== */
  :root {
    --font-family: 'Roboto', sans-serif;
    --second-family: 'Inter', sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--black);
}

.section {
  padding: 32px 0;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
